<!-- header component with dependencies --> 

<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>title</title>
    <link rel="stylesheet" href="src/css/bootstrap.css" type="text/css" />
    <script src="src/js/jquery-3.6.0.js"></script>
    <script src="src/js/bootstrap.bundle.js"></script>
  </head>
  <body>
    <div class="container-fluid" aria-label="Restaurant review system application" role="application">
      <header class="row">

        <!--  Main navigation with some accessibility --> 
    
                <nav
                  class="
                    navbar navbar-expand-lg navbar-light
                    bg-light
                    d-flex
                    nav-pills 
                    w-100
                  " 
                >
                
                <div class="d-flex flex-row col-lg-2 col-12 justify-content-between " >
    
                  <a class="navbar-brand" href="../index.html">Restaurant System</a>
                  <button
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar_menu-actions"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
    
                </div>
            
    
                  <div class="collapse navbar-collapse mt-2 mt-1 mt-lg-0" id="navbar_menu-actions">
                    
                    <div class="d-flex col-lg-7  navbar-nav  w-100 justify-content-lg-around" aria-label="nav bar list" role="navigation">
                      <div class="nav-item col-lg-4 col-12 ">
                        <a class="btn active text-light w-100 btn-outline-dark rounded-0" aria-current="true" href="review.html">Review </a>
                      </div>
    
                    <!-- dropdown menu for account actions--> 
    
    
                      <div class="dropdown col-lg-4 col-12 mt-1 mt-lg-0" id="account-actions-menu" aria-label="account actions drop dropdown" role="menu">
                        <button class="btn btn-outline-dark rounded-0 dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account actions
                        </button>
    
                        <div class="dropdown-menu w-100" aria-labelledby="account-actions-menu">
    
                    
                      <div class="dropdown-item w-100 col-12">
                        <button class="btn  w-100 btn-outline-dark rounded-0"  type="button" data-bs-toggle="modal" data-bs-target="#add-business_modal">Add business</button>
                      </div>
                      
                      <div class="dropdown-item w-100 col-12">
                        <button class="btn w-100 btn-outline-dark rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#sign-up_modal">Sign up</button>
    
                      </div>
    
                    
                      <div class="dropdown-item w-100 col-12">
                        <button class="btn  w-100 btn-outline-dark rounded-0"  type="button" data-bs-toggle="modal" data-bs-target="#Login_modal">Login</button>
                      </div>   
                      <div class="dropdown-item w-100 col-12">
                        <button class="btn w-100 btn-outline-dark rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#Login_modal">Sign out</button>
                    
                      </div>
                      </div>
                    </div>
                      <div class="nav-item col-lg-4 col-12 mt-1 mt-lg-0">
                        <a class="btn w-100 btn-outline-dark rounded-0"  href="help.html">Help </a>
                      </div>
                    
                    
                    </div>
    
                
                  </div>
                    <!--  Search bar for finding restaurants --> 
                  <form class="form-inline d-flex flex-row col-lg-4 col-12 mt-lg-0 mt-1 ms-lg-3" aria-label="search by name section" role="search">
                    <label for="main-search" class="d-none">Restaurant search name </label>
                    <input
                    id = "main-search"
                      class="form-control rounded-0 rounded-0 rounded-start " 
                      type="search"
                    placeholder="Restaurant search name"
                      aria-label="Enter a restaurant name"
                    />
                    <button class="btn btn-dark rounded-0 rounded-end" type="submit">Search</button>
                    </form>
                </nav>
    
    </header>
      <main class = "row d-flex flex-column align-self-center align-items-center bg-secondary p-1 justify-content-center ">
             
        <!--  banner general--> 
        <div class=" bg-light p-1  col-12 col-sm-12  align-self-center align-items-center" aria-label="banner" role="banner">
          <header class="d-flex flex-column col-12 p-1 align-self-center align-items-center">
      
              <h1 class="display-4 bg-black text-light text-center col-12 p-2">[Insert title]</h1>
      
              <h6 class="bg-secondary text-light text-center col-10 p-1" aria-label="Welcome login message" role="Welcome">Welcome user[insert username] or Guest</h6> 
      
          </header>    
      </div>
      
          <!-- home page banner --> 
          <div class="d-flex bg-light p-1  col-12  align-self-center flex-column" aria-label="banner" role="banner">
              <header class="d-flex flex-column col-12 p-1 align-self-center align-items-center">
                  <h1 class="display-4 bg-black text-light p-2 text-center col-12 fw-bold">Restaurant Review System</h1>
                  <h6 class="bg-secondary text-light text-center col-10 p-1">Welcome user[insert username] or Guest</h6> 
      
               </header>
      
              <p class="lead display-6 bg-black text-light p-1 text-center col-10 align-self-center">Create and read reviews </p>
      
          </div>
                
       </main>
    </div>

<!-- Modal template -->
<div class="modal" id="Modal-name_modal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
        
        <button type="button" class="btn btn-dark text-light " data-bs-dismiss="modal">Close
          </button>
          <h5 class="modal-title">Title</h5>
          
        </div>

     <div class="modal-body col-12 d-flex flex-column ">

      <form class="w-100 d-flex flex-column align-items-center">
          <label for="attribute-modal_name" class="d-none m-1">Enter attribute into text box</label>
          <input id="attribute-modal_name"  class="w-100 m-1 rounded-1" name="attribute-modal_name" type="text" placeholder="Attribute"
           type="input" aria-label="Extended hint" role="" />
           <button type="submit" role="submit">Submit</button>
      
      </form>


        <div class="alert alert-success" role="alert">
          Success: 
        </div>

        <div class="alert alert-faliure d-done" role="alert">
          Error:
        </div>  
     </div>
         <div class="modal-footer">
           Don't have an account? <a href="signup-modal.html">Signup here!</a>
         </div>
    
        </div>
  
      </div>
    </div>
  </div>

 
  </div>
  <script src="src/js/jscript.js"></script>

  </body>

</html>
